
body {
  background-color: rgb(30, 37, 37);
}
#root {
  background-color:black;
  color: rgb(240, 245, 234);
  width: 95%;
  margin: 20px 0 20px 0;
  box-shadow: 0px 0px 10px rgba(49, 54, 58, 0.7);
  padding: 30px;  
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: center;
  border-radius: 5px;
}


#search {
  display: flex;
  flex-direction: row;
  color: bisque;
  margin-left: 20px;
}

#search {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 20;
}

input {
  background-color: burlywood;
  height: 22px;
  margin-top: 16px;
  font-weight: 500;
}

#container {
  border: rgb(17, 2, 31);
  border-style: solid;
  border-width: 3px;
  box-shadow: -6px 6px rgba(17, 2, 31, 0.7);
  margin: 20px 40px;
  width: 420px;
  height: 650px;
  align-items: center;
}

.title {
  background-color: rgb(21, 10, 36);
  color: rgb(219, 192, 36);
  font-family: 'Pridi', serif;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.image {
  background-color: aqua;
  width: 100%;
}

.summary {
  width: 90%;
  font-family: 'Quicksand', Arial;
  padding: 1em;
}