
body {
  background-color: rgb(30, 37, 37);
}
#root {
  background-color:black;
  color: rgb(240, 245, 234);
  width: 95%;
  margin: 20px 0 20px 0;
  box-shadow: 0px 0px 10px rgba(49, 54, 58, 0.7);
  padding: 30px;  
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: center;
  border-radius: 5px;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
  background: rgb(5, 136, 180);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

/* .navigation a:hover {
  background: #1565C0;
} */

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
#search {
  display: flex;
  flex-direction: row;
  color: bisque;
  margin-left: 20px;
}

#search p {
  margin-right: 30px;
}

#container {
  border: rgb(17, 2, 31);
  border-style: solid;
  border-width: 3px;
  box-shadow: -6px 6px rgba(17, 2, 31, 0.7);
  margin: 20px 40px;
  width: 420px;
  height: 650px;
  align-items: center;
}

.title {
  background-color: rgb(21, 10, 36);
  color: rgb(219, 192, 36);
  font-family: 'Pridi', serif;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.image {
  background-color: aqua;
  width: 100%;
}

.summary {
  width: 90%;
  font-family: 'Quicksand', Arial;
  padding: 1em;
}